.result {
    text-align: center;
    font-size: x-large;
}
.result__number {
    color: red;
    font-weight: bold;
}
.success {
    color: rgb(24, 158, 30);
    font-weight: bold;
}
.fail {
    color: red;
    font-weight: bold;
}
